* {
    background-color: #000000;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.download {
    color: #7fffd4;
    font-size: 16px;
}