* {
    background-color: #000000;
    text-align: center;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.download {
    color: #7fffd4;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

h3 {
    text-align: right;
    color: #808080;
}